:root{

--black:#0b0b0b;
--ivory:#f5f3ee;
--paper:#ffffff;
--grey:#8c8982;


--title:"Bodoni Moda", serif;
--cinzel:"Cinzel", serif;
--body:"Lora", serif;

}



*{

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

margin:0;

background:var(--ivory);

color:#111;

font-family:var(--body);

overflow-x:hidden;

}

body::before{

    content:"";

    position:fixed;

    inset:0;

    background:
        radial-gradient(circle at center,
        rgba(255,255,255,.55),
        rgba(250,248,245,.88));

    pointer-events:none;

    z-index:-2;

}



/* =====================
FLOATING MONOGRAM
===================== */


.background-logo{
    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    pointer-events:none;
    z-index:-1;

    overflow:hidden;
}

.background-logo img{

    width:min(70vw,750px);

    height:auto;

    opacity:.08;

    filter:
        grayscale(15%)
        brightness(1.05);

    user-select:none;
}
.background-logo img{

    mix-blend-mode:multiply;
    /*mix-blend-mode:soft-light;*/

}


/* =====================
HERO
===================== */


.hero{


height:100vh;


background:

linear-gradient(

rgba(0,0,0,.55),

rgba(0,0,0,.75)

),

url("images/couple-1.jpg");



background-size:cover;

background-position:center;


display:flex;

align-items:center;

justify-content:center;


position:relative;

z-index:3;

color:white;


}



.hero-title{


text-align:center;


animation:

heroReveal 2s ease forwards;


}




.small-title{


font-family:var(--cinzel);

letter-spacing:10px;

font-size:.9rem;

}



.hero h1{


font-family:var(--title);

font-style:italic;

font-weight:400;


font-size:

clamp(3rem,8vw,7rem);



line-height:.85;


margin:25px 0;



}




.couple-names{


font-family:var(--title);

font-style:italic;

font-weight:400;


font-size:

clamp(2rem,4vw,3.5rem);



margin:20px 0;



letter-spacing:3px;


}




.date{


font-family:var(--cinzel);


letter-spacing:7px;


margin-top:30px;


}





@keyframes heroReveal{


from{

opacity:0;

transform:

translateY(60px);

filter:blur(10px);


}


to{

opacity:1;

transform:none;

filter:none;

}


}









/* =====================
REVEAL ANIMATION
===================== */


.reveal{


opacity:0;


transform:

translateY(50px);



transition:

1.3s ease;


}



.reveal.visible{


opacity:1;


transform:none;


}









/* =====================
INTRO
===================== */


.intro{


min-height:60vh;


display:flex;


justify-content:center;


align-items:center;



text-align:center;


position:relative;

z-index:3;


}



.intro p{


font-family:var(--title);


font-style:italic;


font-size:

clamp(2rem,5vw,4rem);


line-height:1.4;


}









/* =====================
COUPLE SECTION
===================== */


.couple{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:3rem;

    flex-wrap:nowrap;
}




.person{
    flex:1 1 50%;
    min-width:0;

    min-height:850px;

    padding:80px 30px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}



.bride{


background:var(--ivory);


}



.groom{


background:var(--black);


color:white;


}






.person img{


width:min(70%,420px);


height:520px;



object-fit:cover;


filter:grayscale(100%);



box-shadow:

0 40px 90px rgba(0,0,0,.25);



transition:.8s;



}



.person img:hover{


transform:

scale(1.04)
translateY(-15px);



}







.person h2{


font-family:var(--title);


font-style:italic;


font-size:4rem;



margin:35px 0 25px;


}




.parents-title{


font-family:var(--cinzel);


letter-spacing:6px;


font-size:.8rem;




opacity:.7;


margin-bottom:25px;


}




.family{


line-height:2;


font-size:1.1rem;


}









/* =====================
WEDDING PROGRAM
===================== */


.details-section{


padding:120px 20px;


position:relative;


z-index:3;


}



.paper{


background:white;


max-width:850px;


margin:auto;



padding:80px 40px;



box-shadow:

0 50px 120px rgba(0,0,0,.15);



text-align:center;


}



.paper h2{


font-family:var(--title);


font-style:italic;


font-size:4rem;



}





.line{


width:80px;


height:1px;


background:#111;


margin:35px auto;


}







.timeline{


max-width:600px;


margin:auto;


}





.event{


padding:35px 0;



border-bottom:

1px solid #ddd;


}




.event:last-child{


border:none;


}



.event span{


font-family:var(--title);


font-size:3rem;


}





.event h3{


font-family:var(--cinzel);


font-weight:500;


letter-spacing:2px;


}




.event p{


line-height:2;


color:#555;


}









/* =====================
COUNTDOWN
===================== */


.countdown-section{


background:var(--black);


color:white;



padding:100px 20px;


text-align:center;


position:relative;


z-index:3;


}




.countdown-section h2{


font-family:var(--title);


font-style:italic;


font-size:3rem;


}





.countdown{


display:flex;


justify-content:center;


gap:45px;


margin-top:60px;


}




.countdown span{


font-family:var(--title);


font-size:4rem;


display:block;


}



.countdown label{


font-family:var(--cinzel);


font-size:.7rem;


letter-spacing:3px;


}









/* =====================
KOUMPAROI
===================== */


.koumparoi{


padding:120px 20px;


text-align:center;


position:relative;


z-index:3;


}



.koumparoi h2{


font-family:var(--title);


font-style:italic;


font-size:3rem;


}



.koumparoi p{


font-size:1.3rem;


line-height:2;


}









/* =====================
GIFT
===================== */


.gift{


background:var(--black);


color:white;


padding:100px 30px;


text-align:center;


position:relative;


z-index:3;


}



.gift h2{


font-family:var(--title);


font-style:italic;


font-size:3rem;


}



.gift p{


max-width:600px;


margin:auto;


line-height:2;


}



.iban{


margin:45px 0;


font-family:var(--cinzel);


letter-spacing:3px;


cursor:pointer;


word-break:break-all;


}



.copy-message{


opacity:0;


transition:.5s;


}



.copy-message.show{


opacity:1;


}









/* =====================
PHOTO UPLOAD
===================== */


.guest-photo{


padding:120px 30px;


text-align:center;


position:relative;


z-index:3;


}



.guest-photo h2{


font-family:var(--title);


font-style:italic;


font-size:3rem;


}



.upload-box{


max-width:600px;


margin:50px auto;


padding:70px 20px;



border:1px dashed #555;



cursor:pointer;


transition:.4s;


}



.upload-box:hover{


background:#eee;


}




.upload-box span{


font-size:4rem;


}



.upload-box input{


display:none;


}





.preview{


display:flex;


flex-wrap:wrap;


justify-content:center;


gap:15px;


}



.preview img{


width:130px;


height:130px;


object-fit:cover;


}









/* =====================
BUTTONS
===================== */


button{


background:#111;


color:white;


border:0;


padding:18px 45px;


font-family:var(--cinzel);


letter-spacing:2px;


cursor:pointer;


transition:.4s;


}



button:hover{


transform:translateY(-5px);


}









/* =====================
RSVP
===================== */


.rsvp{


padding:120px 20px;


text-align:center;


position:relative;


z-index:3;


}




.rsvp h2{


font-family:var(--title);


font-style:italic;


font-size:3.5rem;


}



.rsvp p{


line-height:2;


font-size:1.1rem;


}









.modal{


position:fixed;


inset:0;



background:

rgba(0,0,0,.75);



display:none;


align-items:center;


justify-content:center;



z-index:20;


}



.modal.active{


display:flex;


}



.modal-content{


background:white;


width:min(90%,450px);



padding:50px;



text-align:center;



animation:

modalShow .5s ease;


}





@keyframes modalShow{


from{

opacity:0;

transform:scale(.9);

}


to{

opacity:1;

transform:scale(1);


}


}





.modal-content input,
.modal-content select{


width:100%;


padding:15px;


margin:10px 0;


}



.modal-buttons{


display:flex;


gap:10px;


margin-top:25px;


}



.close{


float:right;


}









/* =====================
MOBILE
===================== */


@media(max-width:768px){



.couple{


grid-template-columns:1fr;


}



.person{


min-height:700px;


}



.person img{


height:450px;


}



.person h2{


font-size:3rem;


}




.countdown{


gap:15px;


}



.countdown span{


font-size:2.2rem;


}



.paper h2{


font-size:3rem;


}



.hero h1{


font-size:3.5rem;


}


}
@media (max-width:768px){

    .couple{
        width:100%;
        gap:0;
    }

    .person{

        flex:1;

        padding:40px 12px;

        min-height:auto;
    }

    .person img{

        width:90%;

        max-width:190px;

        aspect-ratio:4/5;

        height:auto;

        object-fit:cover;

        object-position:center;

    }

    .person h2{

        font-size:2rem;

        margin:20px 0 15px;

    }

    .parents-title{

        letter-spacing:2px;

        font-size:.65rem;

    }

    .family{

        font-size:.8rem;

        line-height:1.6;

    }

}