/* =========================
   FLOATING MONOGRAM
========================= */


.background-logo {

    position:fixed;

    inset:0;


    display:flex;

    justify-content:center;

    align-items:center;


    pointer-events:none;


    overflow:hidden;


    z-index:-1;

}





.background-logo img {


    width:

    min(
        70vw,
        750px
    );


    height:auto;


    opacity:.08;


    user-select:none;


    filter:

    grayscale(15%)
    brightness(1.05);


    mix-blend-mode:multiply;

}